<partial name="_navbarCommon" />


<h4 class=" mt-3 container mx-2 text-center text-decoration-underline">Add Appraisel</h4>

@model Appraiselform

<div class="container">
    @{
        if (ViewBag.Success != null)
        {
            <div class="container alert alert-success">
                @ViewBag.Success
            </div>
        }
    }


    <form asp-action="AddAppraisel" asp-controller="Manager" method="post">

         <div class="row">
            <div class="col-sm-4">
                <div class="mt-3">
                    <label asp-for="EmployeeID"></label>
                    @Html.DropDownListFor(m => m.EmployeeID, ViewBag.selectList as SelectList, new { @class = "form-control" })


                </div>

            </div>
            </div>
         

@*        <div class="mt-3">
            <label asp-for="EmployeeID"></label>
            @Html.DropDownListFor(m => m.EmployeeID, ViewBag.selectList as SelectList, new { @class = "form-control" })
 
  
        </div>  *@ 
        
        
        <div class="mt-3">

            <label asp-for="tempCompetency"></label>
            <select asp-for="tempCompetency" asp-items="@ViewBag.compitency" class="form-control form-select-lg" multiple></select>
            <span asp-validation-for="tempCompetency" class="text-danger"></span>
        </div>
        
        <div class="mt-3">

            <label asp-for="objective"></label>
            <textarea asp-for="objective" class="form-control"></textarea>
           @* <span asp-validation-for="objective" class="text-danger"></span>*@
        </div>  
        
       
        <div class="row">
            <div class="col-sm-4">
                <div class="mt-3">

                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control ">
                    <span asp-validation-for="StartDate" class="text-danger"></span>

                </div>

            </div>

            <div class="col-sm-4">

                <div class="mt-3 ">

                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary mt-4"  value="Submit Appraisal"/>

    </form>

</div>