
<div class="container mt-3 text-center">
    <img src="~/images/access denied.jpg"  class="img-fluid" width="400px" height="400px"/>
    <h2 class="text-center">You dont have right to access this page..!!</h2>
</div>