@model changePassword

<div class="container text-center mt-4">

    <img src="~/images/logo_dark.png" class="img-fluid text-center" />

</div>

@{
    if (@ViewBag.succ != null)
    {
        <div class="alert alert-success">@ViewBag.succ</div>
    }
}
<div class="container mt-4">

    <div class="row ">

        <div class="col-sm-6 border border-bottom shadow-lg ">

            <form asp-action="ChnageUserPassword" asp-controller="Home" method="post">

                <div class="mt-4 text-center">

                    <label asp-for="oldPassword"></label>

                    <input asp-for="oldPassword" class="form-control" />

                    <span asp-validation-for="oldPassword" class="text-danger"></span>

                </div>

                <div class="mt-4 text-center">

                    <label asp-for="NewPassword"></label>

                    <input asp-for="NewPassword" class="form-control" />

                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                </div>

                <div class="mt-4 text-center">

                    <label asp-for="CnfNewPassword"></label>

                    <input asp-for="CnfNewPassword" class="form-control" />

                    <span asp-validation-for="CnfNewPassword" class="text-danger"></span>

                </div>


                <input type="submit" class="btn btn-primary mt-4 mb-3"  value="submit"/>

                <button class="btn btn-danger mt-2 text-center" onclick="history.go(-1)">Go Back </button>

            </form>
        </div>

    
        <div class="col-sm-6">
            <img src="~/images/access denied.jpg" height="300px" width="300px"/>
        </div>
          

    </div>

</div>